
<div th:fragment="widgets" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="container-fluid">
    <div class="row">
<div class="row g-4 mt-4">
  <div class="col-md-6">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Today’s Appointments</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">10:00 AM – John Doe</li>
          <li class="list-group-item">11:30 AM – Priya Sharma</li>
          <li class="list-group-item">1:00 PM – Ravi Patel</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Notifications</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">🧪 Lab report uploaded for patient #1203</li>
          <li class="list-group-item">📩 New message from admin</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>

  </div>
</div>
